[submodule "icure-pre-commit"]
	path = icure-pre-commit
	url = ../icure-pre-commit
[submodule "kraken-common"]
	path = kraken-common
	url = git@github.com:icure/kraken-common.git
[submodule "ksp-json-processor"]
	path = ksp-json-processor
	url = https://github.com/icure/ksp-json-processor.git
